.cracked-setBackgroundWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 30px;
}

.cracked-setBackgroundWrapper .infoText {
  grid-column-start: 1;
  grid-column-end: 3;
}
.imageUploadContainer {
  display: none;
}